body, html {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    height: auto;
    min-height: 100vh;
    // overflow-x: hidden;
    position: relative;
    flex-direction: column;
}

body.active {
    overflow: hidden;
}

// ::-webkit-scrollbar {
//     width: 0;
//     background: transparent;
// }

// ::-webkit-scrollbar-thumb {
//     width: 0;
//     background: transparent;
// }

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

input, select, textarea {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    line-height: normal;
}

// --------------------

body {
    font-family: $font-main;
    color: $color-main;
}

.wrapper {
    max-width: 1300px;
}

.title {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: -0.02em;
    color: $color-main;
}

.line {

    div {
        background-color: $color-blue;
        width: 64px;
        height: 3px;
    }
}

.text {
    font-weight: 300;
    line-height: 26px;
    font-size: 17px;

    p {
        font-weight: 300;
    }
}

.button {

    a {
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
        border-radius: 4px;

        &:hover {
            background: $color-blue;
            color: #fff;
        }
    }
}

label.input_error {
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: 0;
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    background: $color-blue;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;

    &:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 10%;
        margin-left: -5px;
        -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $color-blue transparent;
    }

}

@media all and (max-width: 577px) {
    .title {
        font-size: 32px;
    }
}