// Font-family

$font-main:'Rubik', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Color

$color-main: #20262D;
$color-blue: #157BC0;
$color-grey: #B0B0B0;
$color-lightgrey: #F2F4F5;
$color-yellow: #FEDF01;