.articles {

    &__title {
        margin-bottom: 23px;

        span {
            display: block;
        }
    }

     h1 {
        font-size: 48px;
        line-height: 57px;
        letter-spacing: -0.02em;
        color: #20262D;
     }

     h2 {
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
        color: #20262D;
     }

     h3 {
      font-weight: 300;
      font-size: 24px;
      line-height: 32px;
      color: #20262D;
     }

     h4, h5, h6 {
        font-weight: 300;
     }

     &__important {
        font-size: 17px;
        font-style: italic;
        color: rgba(32, 38, 45, 0.4);
     }

     &__line {
         margin-bottom: 32px;
     }

     &__text {
        margin-bottom: 65px;
      font-size: 17px;
      line-height: 26px;
      color: #20262D;

      p {
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 27px;
        }
      }

      ul {
          margin-bottom: 10px;
         padding-left: 13px;

         li {
            position: relative;
            font-weight: 300;
   
            &:not(:last-child) {
                margin-bottom: 10px;
            }
   
            &:after {
               content: '';
               position: absolute;
               top: 10px;
               left: -13px;
               display: block;
               width: 4px;
               height: 4px;
               background-color: $color-blue;
               border-radius: 50%;
            }
         }
      }

      ol {
          padding-left: 13px;
          list-style: decimal;

        li {
            position: relative;
            font-weight: 300;
   
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
      }

      
     }

     &__strong {
        font-weight: 600;
     }

     &__form {

      &-title {
          display: flex;
          justify-content: center;
          margin-bottom: 23px;

        span {
            display: block;
            width: 225px;
            line-height: 32px;
            font-size: 24px;
            color: #fff;
            text-align: center;
        }
          
      }
  
      // &-item {
  
      //     &:not(:last-child) {
      //         margin-bottom: 15px;
      //     }
      // }

      &-wrap {
          position: relative;
         margin-bottom: 10px;

         label {
             margin-bottom: 7px;
             font-size: 16px;
             color: rgba(255, 255, 255, 0.8);
         }
 
         input {
             width: 100%;
             padding: 13px;
             font-size: 16px;
             color: #fff;
             background: rgba(255, 255, 255, 0.1);
             border: 1px solid rgba(255, 255, 255, 0.4);
             border-radius: 2px;

             &:focus {
                 border: 1px solid $color-yellow;
             }
         }

         select {
             padding: 14px;
             width: 100%;
             font-size: 16px;
             color: #fff;
             background: url('../../img/arrow-down-s-fill.svg') right center no-repeat;
             background-color: rgba(255, 255, 255, 0.1);
             border: 1px solid rgba(255, 255, 255, 0.4);
             border-radius: 2px;

             &:focus {
                 border: 1px solid $color-yellow;
             }
         }

         option {
             color: $color-main;
             background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
         }
     }

     &-item {
         position: relative;
     }
  
      &-button {
          margin-top: 16px;
  
          input {
              width: 100%;
              font-size: 16px;
              border: 1px solid transparent;
              padding: 15px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: $color-blue;
              background: $color-yellow;
              border-radius: 4px;
  
              &:hover {
                 transition: all ease 1s;
                  background: $color-blue;
                  color: $color-yellow;
                  border: 1px solid $color-yellow;
              }
          }
      }
  }

      &__quotes {
          margin-bottom: 65px;
         padding: 31px 24px;
         border: 1px solid #C4C8CC;

         a {
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            color: $color-blue;
         }
      }

      &__link {
         cursor: pointer;
         font-size: 17px;
         color: $color-blue;
         border-bottom: 1px solid $color-blue;

         &:hover {
            color: $color-main;
            border-bottom: 1px solid $color-main;
         }
      }

      &__wrap {
         position: relative;
         height: 100%;
         top: -160px;
      }

      &__box {
         padding: 43px 32px 30px;
         position: sticky;
         top: 80px;
         right: 0;
         background: $color-blue;
      }
}

@media all and (max-width: 991px) {
   .articles {


    &__form {

       &-item {
           flex-direction: column;

          
       }

       &-wrap {
          width: 100%;

          &:not(:last-child) {
              margin-bottom: 15px;
          }
      }

       &-button {
           input {
               background: $color-yellow;
               border: 1px solid transparent;

               &:hover {
                   transition: all ease 1s;
                   background: $color-blue;
                   border: 1px solid #fff;
               }
           }
       }
   }
}
}

@media all and (max-width: 991px) {
    .articles {
        
        &__wrap {
            top: -50px;
        }
    }
}

@media all and (max-width: 577px) {
    .articles {
        
        &__wrap {
            
            top: 0;
        }

        &__container {
            margin-top: 32px;
        }
    }
}
     