.contact {
    padding: 64px 0 70px;

    &__container {
        position: relative;
    }

    &__title {
        margin-bottom: 24px;
        width: 276px;
        font-size: 48px;
        line-height: 57px;
        letter-spacing: -0.02em;
        color: #20262D;
    }

    &__line {
        margin-bottom: 43px;

        div {
            background-color: $color-yellow;
        }
    }

    &__contacts {
        width: 350px;
        margin-bottom: 43px;

        li {

            a {
                font-size: 16px;
                color: rgba(32, 38, 45, 0.7);
            }

            span {
                color: rgba(32, 38, 45, 0.7);
            }
            

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__media {

        &-title {
            margin-bottom: 24px;
            font-size: 18px;
        }

        &-list {

            ul {
                display: flex;
            }

            li {

                &:not(:last-child) {
                    margin-right: 20px;
                }
            }

            a {
                width: 20px;

                img {
                    filter: brightness(0) saturate(100%) invert(69%) sepia(97%) saturate(458%) hue-rotate(3deg) brightness(109%) contrast(99%);
                }

                &:hover {

                    img {
                        transition: all ease 0.5s;
                        filter: brightness(0) saturate(100%) invert(47%) sepia(90%) saturate(5282%) hue-rotate(186deg) brightness(90%) contrast(84%);
                    }
                }
            }
        }
    }

    &__form {
        max-width: 736px;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        padding: 34px 35px 63px;
        background: #FFFFFF;
        border: 1px solid #C4C8CC;

        &-title {
            margin-bottom: 36px;
            font-weight: 300;
            font-size: 24px;
        }

        &-top {
            display: flex;
            margin-bottom: 25px;
        }

        &-middle {
            margin-bottom: 25px;
            display: flex;
        }

        &-bottom {
            margin-bottom: 20px;
            display: flex;
        }

        &-textarea {
            position: relative;
            margin-bottom: 40px;

            label {
                margin-bottom: 8px;
                font-size: 16px;
            }

            textarea {
                padding: 15px;
                width: 100%;
                height: 104px;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #C4C8CC;
                border-radius: 2px;
            }
        }

        &-button {
            display: flex;
            justify-content: center;

            input {
                font-size: 16px;
                border: none;
                padding: 15px 106px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #fff;
                background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
                border-radius: 4px;

                &:hover {
                    background: $color-blue;
                }
            }
        }
    }

    &__top {

        &-item {
            position: relative;
            // width: 33.33%;
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-right: 23px;
            }

            label {
                margin-bottom: 8px;
                font-size: 16px;
            }

            input {
                width: 100%;
                padding: 13px;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #C4C8CC;
                border-radius: 2px;
            }
        }
    }

    &__middle {

        &-item {
            position: relative;
            // width: 33.33%;
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                margin-right: 23px;
            }

            label {
                margin-bottom: 8px;
                font-size: 16px;
            }
    
            input {
                width: 100%;
                padding: 14px;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid #C4C8CC;
                border-radius: 2px;
            }
        }

        
    }

    &__bottom {

        &-title {
            margin-bottom: 14px;
            font-size: 16px;
        }

        &-item {
            position: relative;
            width: 33.33%;

            &:not(:last-child) {
                margin-right: 20px;
            }

            label {
                margin-bottom: 8px;
                font-size: 14px;
            }

            input[type=checkbox], input[type=radio] {display: none;}

            input[type=radio] + label:before {
                content: "\26AB";
                border: 1px solid #C4C8CC;
                border-radius: 50%;
                display: inline-block;
                border: 1px solid #C4C8CC;
                font-size: 15px;    
                line-height: 15px;
                margin: -5px 5px 0 0;
                height: 15px;
                width: 15px;
                text-align: center;
                vertical-align: middle;
                font-size: 0;    
                transition: font-size ease .3s;
            }
            input[type=radio]:checked + label:before {
                font-size: 5px;  
                text-align: center;  
            }
    
            select {
                padding: 14px;
                width: 100%;
                font-size: 16px;
                color: $color-main;
                background: url('../../../img/arrow-down-grey.svg') right 5% center no-repeat;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid #C4C8CC;
                border-radius: 2px;
            }

            option {
                color: $color-main;
            }
        }
    }
}

@media all and (max-width: 1199px) {
    .contact {
        padding: 90px 0 70px;


        &__contact {
            margin-bottom: 60px;
        }

        &__form {
            position: static;
        }
    }
}

@media all and (max-width: 767px) {
    .contact {

        &__title {
            width: 100%;
        }

        &__contacts {
            width: 100%;
        }

        &__form {
            padding: 34px 18px 63px;

            &-top {
                flex-direction: column;
            }

            &-middle {
                flex-direction: column;
            }

            &-bottom {
                flex-direction: column;
            }
        }

        &__top {

            &-item {

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        &__middle {

            &-item {

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        &__bottom {

            &-item {
                width: 100%;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}