.header {

    &-main {
        display: none;

        &.active {
            display: block;
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.08);
            opacity: 1;
            transition: opacity ease 2s;
            animation: opacity ease 1s;
        }

        a.header__top-link {
            display: block;
            padding: 15px 66px;
            font-size: 14px;
            white-space: nowrap;
            color: #ffffff;
            background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
    
            &:hover {
                background: $color-blue;
                color: #fff;
            }
            
        }
    }
    
    

    @keyframes opacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;

        }
    }

    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;

        &.active {
            position: fixed;
            padding: 0 15px 0 30px;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.08);
            opacity: 1;
            transition: opacity ease 2s;
            animation: opacity ease 1s;
        }
    }

    &__logo {
        width: 115px;
    }

    &__nav {

        &-wrap {
            display: none;
            position: absolute;
            padding-top: 30px;
            left: -30%;
        }

        &-item {
            position: relative;



            &:hover {

                .header__nav-wrap {
                    display: block;
                }
            }

            .header__nav-submenu {
                display: block;
                position: relative;
                // top: 50px;
                // left: -26%;
                padding: 24px;
                background: #FFFFFF;
                border: 1px solid #E8ECEF;
                box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.08);
                border-radius: 4px;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 25%;
                    margin-left: -5px;
                    -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    border-width: 5px;
                    border-style: solid;
                    border-color: transparent transparent #fff transparent;
                }

                li {

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    a {
                        font-weight: 300;
                        font-size: 17px;
                        white-space: nowrap;

                        &:hover {
                            color: $color-blue;
                        }
                    }
                }

                
            }

            &.active {
               
                .header__nav-submenu {
                    display: block;
                }
    
            }
        }

        ul {
            display: flex;
            align-items: center;
        }

        li {

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        a {
            font-size: 18px;
            text-decoration: none;

            img {
                filter: brightness(0) saturate(100%) invert(11%) sepia(25%) saturate(493%) hue-rotate(172deg) brightness(96%) contrast(91%);


            }

            &:hover {
                color: $color-blue;
            }
        }
    }

    a.header__top-link {
        display: block;
        padding: 15px 66px;
        font-size: 14px;
        color: #ffffff;
        background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
    }

    &__lang {

        &>div {
            margin-right: 0;

            span {
                top: 145%;
            }
        }

        
    }

    &__search {
        display: none;
        position: absolute;
        overflow: hidden;
        // width: 100%;
        top: 48px;
        right: 0;
        z-index: 2;
        padding: 14px;
        font-size: 16px;
        color: #20262D;
        background: #fff;
        border: 1px solid $color-main;
        border-radius: 2px;

        ul {
            flex-direction: column;
        }

        li {

            &:not(:last-child) {
                margin-right: 0;
            }
        }

        &.active {
            display: block;
        }

        li {

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        

        &-fade {
            display: none;

            &.active {
                position: relative;
                display: block;
            }

            input {
                position: relative;
                
                width: 150px;
                padding: 12px;
                font-size: 16px;
                color: $color-main;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid $color-main;
                border-radius: 2px;

                &:focus {
                    border: 1px solid $color-yellow;
                }
            }
        }
    }

    &__contact {

        ul {
            display: flex;
        }

        li {

            &:not(:last-child) {
                margin-right: 20px;
            }

            .header__contact-phone {
                display: block;
                position: relative;
                width: 20px;

                span {
                    white-space: nowrap;
                    display: none;
                    position: absolute;
                    top: 130%;
                    left: -32%;
                    margin-left: -60px;
                    // width: 100px;
                    background-color: #fff;
                    text-align: center;
                    padding: 10px;
                    border-radius: 11px;
                    border: 1px solid #eeeeee;
                    z-index: 5;
                    -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                    transition: opacity .6s;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -5px;
                        -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                    }






                    }
                

                &:hover {

                    span {
                        display: block;
                    }
                }
            }

            .header__contact-mail {
                display: block;
                position: relative;
                width: 20px;

                span {
                    white-space: nowrap;
                    display: none;
                    position: absolute;
                    top: 130%;
                    left: -200%;
                    margin-left: -60px;
                    // width: 100px;
                    background-color: #fff;
                    text-align: center;
                    padding: 10px;
                    border-radius: 11px;
                    border: 1px solid #eeeeee;
                    z-index: 5;
                    -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                    -webkit-transition: opacity .6s;
                    -o-transition: opacity .6s;
                    transition: opacity .6s;

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        margin-left: -5px;
                        -webkit-box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                        box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                        border-width: 5px;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                    }






                    }
                

                &:hover {

                    span {
                        display: block;
                    }
                }
            }
        }
    }

    
}

@media all and (max-width: 1199px) {
    .header {

        &-main {

            &.active {
                display: none;
            }
        }
    }
}