.hero {
    // margin: 0 -15px;

    .container-fluid {
        padding: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin-right: -15px;
        margin-left: 30px;

        &-left {

            ul {
                display: flex;
            }

            li {

                &:not(:last-child) {
                    margin-right: 37px;
                }
            }

            a, 
            span {
                font-size: 14px;
                color: $color-main;
                letter-spacing: 0.3px;
                text-decoration: none;
            }
        }

        &-right {
            display: flex;
        }

        &-media {
            display: flex;
            align-items: center;
            margin-right: 41px;

            ul {
                display: flex;
            }

            li {

                &:not(:last-child) {
                    margin-right: 18px;
                }
            }

            a {
                width: 20px;

                &:hover img {
                    filter: brightness(0) saturate(100%) invert(71%) sepia(93%) saturate(490%) hue-rotate(2deg) brightness(107%) contrast(100%);
                }
            }
        }

        &-button {

            a {
                display: block;
                padding: 15px 66px;
                font-size: 14px;
                color: #ffffff;
                border-radius: 0;
                background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);

                &:hover {
                    color: #fff;
                }
            }
            
        }

        &-lang {
            display: flex;
            align-items: center;
        }
    }

    a.header__top-link {
        display: block;
        padding: 15px 66px;
        font-size: 14px;
        color: #ffffff;
        background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);

        &:hover {
            background: $color-blue;
            color: #fff;
        }
        
    }

    &__lang {
        position: relative;

        &-ru,
        &-eng {
            margin-right: 44px;
            display: none;
            position: relative;
            font-size: 14px;
            padding-right: 13px;
            color: $color-blue;
            border: none;
            cursor: pointer;
            outline: 0;
            background: url('../../img/arrow-down.svg') right center no-repeat;
            
            &:hover span {
                visibility: visible;
                opacity: 1;
            }

            &.active {
                display: flex;
                align-items: center;
                height: 100%;
            }
        }

        &-ru {
            display: none;

            // span {
            //     left: 133%;
            // }
        }

        &-tooltip {
            visibility: hidden;
            position: absolute;
            top: 70%;
            left: 100%;
            margin-left: -60px;
            width: 85px;
            background-color: #fff;
            text-align: center;
            padding: 10px 0;
            border-radius: 11px;
            border: 1px solid rgb(238, 238, 238);
            z-index: 1;
            opacity: 0;
            box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
            transition: opacity .6s;

            &:before{
                content: "";
                position: absolute;
                bottom: 100%;
                left: 50%;
                margin-left: -5px;
                box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.06);
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
            }
              
        }    
        
    }

    &__main {
        position: relative;
        height: calc( 100vh - 46px);
        background: url('../../img/hero-bg.png') no-repeat;
        background-size: cover;
        background-attachment: fixed;

        &-box {
            width: 416px;
            position: absolute;
            top: 50%;
            left: 63px;
            transform: translateY(-50%);
            z-index: 1;
        }

        &-bg {
            margin: 0 -15px;
        }

        &-header {
            width: 100%;
            padding: 30px 30px 0;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &-logo {
            width: 200px;
        }

        &-nav {
            padding-top: 6px;
        }

        &-list {
            position: relative;
            display: flex;
        }

        &-item {
            flex-shrink: 0;

            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        &-link {
            width: 20px;
            font-size: 18px;
            color: #fff;

            &:hover {
                transition: all ease 1s;
                color: $color-blue;

                img {
                    transition: all ease 1s;
                    filter: brightness(0) saturate(100%) invert(37%) sepia(74%) saturate(698%) hue-rotate(165deg) brightness(96%) contrast(98%);
                }
            }
        }

        &-desc {
            position: absolute;
            bottom: 50px;
            left: 31px;
            width: 350px;
        }

        &-subtitle {
            font-size: 18px;
            margin-bottom: 19px;
            color: #fff;
        }

        &-title {
            font-size: 48px;
            line-height: 55px;
            color: #fff;
        }

        &-form {
            position: absolute;
            top: 0;
            right: 0;
            width: 44%;
            height: 100%;
            background: inherit;
            overflow: hidden;

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                background: inherit; 
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                filter: blur(10px);
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 1px;
                height: 100%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);;
            }
        }
    }


    // --------------
    &__mobile {

        &-header {
            position: fixed;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 15px;
            background-color: rgba(255, 255, 255, 0.97);
        }

        &-logo {
            width: 130px;
        }

        &-btn {
            position: relative;
            right: 5px;
            cursor: pointer;
        }

        &-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 26px;
            height: 14px;
        }

        &-line {
            width: 35px;
            height: 1px;
            background: $color-blue;
            transition: transform 0.4s ease, opacity 0.01s ease;
            transform: rotate(0) translate(0, 0);
            opacity: 1;
            position: relative;
            transform-origin: left;

            &.active:nth-child(1) {
                transform: rotate(45deg) translate(0px, 0px);
                top: 0px;
                left: 0px;
                width: 18px;
            }

            &.active:nth-child(2) {
                opacity: 0;
            }

            &.active:nth-child(3) {
                transform: rotate(-45deg) translate(0px, 0px);
                top: 0px;
                left: 0px;
                width: 18px;
            }
        }

        &-menu {
            padding: 20px 0;
            display: none;
            width: 100%;

            &.active {
                display: block;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-item {

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        &-search {
            display: block;
            width: 20px;

            img {
                filter: brightness(0) saturate(100%) invert(11%) sepia(7%) saturate(1922%) hue-rotate(172deg) brightness(96%) contrast(90%);
            }
        }

        &-button {

            a {
                display: inline-block;
                padding: 15px 100px;
                font-size: 14px;
                color: #fff;
                background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
            }
            
        }

        &-wrap {
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid $color-grey;
        }

        &-main {
            padding-top: 120px;
        }

        &-desc {
            padding: 0 15px;
        }

        &-form {
            padding: 0 30px;
        }

        &-box {
            padding: 30px;
            background-color: $color-blue;
        }

        &-subtitle {
            margin-bottom: 30px;
            font-size: 18px;
        }

        &-title {
            margin-bottom: 30px;
            width: 350px;
            font-size: 48px;
            letter-spacing: -0.02em;
        }
    }

    &__search {
        display: none;
        position: absolute;
        width: 100%;
        top: 35px;
        right: 0;
        z-index: 2;
        padding: 14px;
        font-size: 16px;
        color: #20262D;
        background: #fff;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 2px;

        &.active {
            display: block;
        }


        &-fade {
            display: none;

            &.active {
                position: relative;
                display: block;
            }

            input {
                position: relative;
                top: -14px;
                width: 100%;
                padding: 14px;
                font-size: 16px;
                color: #fff;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 2px;
            }
            
        }

        li {

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        a {

            &:hover {
                transition: all ease 1s;
                color: $color-blue;
            }
        }
    }
}



@media all and (max-width: 1199px) {
    .hero {
        

        &__main {

            &-form {
                width: 50%;
            }

            &-box {
                width: 380px;
                left: 30px;
            }
        }

        &__top {

            &-left {

                li {

                    &:not(:last-child) {
                        margin-right: 25px;
                    }
                }
            }

            &-media {
                margin-right: 25px;
            }
        }
    }
}

@media all and (max-width: 991px) {
    .hero {
        margin-bottom: -270px;

        &__mobile {

            &-form {
                position: relative;
                top: -270px;
            }
        }
    }
}

@media all and (max-width: 767px) {
    .hero {
        margin-bottom: -180px;

        &__mobile {

            &-form {
                top: -180px;
            }
        }
    }
}

@media all and (max-width: 577px) {
    .hero {
        margin-bottom: 0;

        &__mobile {

            &-title {
                font-size: 36px;
                width: unset;
            }

            &-form {
                padding: 0 15px;
                top: 0;
            }

            &-box {
                padding: 20px;
            }

            &-menu {

                &.active {
                    height: calc( 100vh - 100px);
                }
            }

            &-list {
                height: 100%;
                justify-content: space-around;
            }
        }
    }
}

