.mort {
    padding: 64px 0;

    &__container {

        &-top {
            margin-bottom: 49px;
        }
    }

    &__title {
        margin-bottom: 24px;
        text-align: center;
    }

    &__line {
        margin-bottom: 32px;
        display: flex;
        justify-content: center;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;

        &>div {
            margin-bottom: 32px;
        }

        &-item {
            min-height: 100%;
            padding: 34px 22px 32px;
            border: 1px solid #C4C8CC;
        }

        &-name {
            margin-bottom: 18px;
            font-weight: 300;
            font-size: 24px;
            line-height: 31px;
        }

        &-img {
            margin-bottom: 23px;
        }

        &-desc {
            margin-bottom: 16px;
            font-weight: 300;
            font-size: 17px;
            line-height: 26px;
        }

        &-link {
            font-size: 14px;
            color: $color-blue;
            transition: all ease 1s;

            &:hover {
                color: $color-main;
            }
        }
    }

    &__wrap {
        margin-bottom: 40px;

        &-item {
            min-height: 100%;
            padding: 24px 24px 31px;
            border: 1px solid #C4C8CC;
        }

        &-img {
            margin-bottom: 27px;
        }
    }

    &__button {
        display: flex;
        justify-content: center;

        a {
            padding: 15px 22px;
            display: inline-block;
        }
    }
}

@media all and (max-width: 991px) {
    .mort {

        &__wrap {

            &>div {
                margin-bottom: 30px;
            }
        }
    }
}