.services {
    padding: 64px 0;
    background-color: $color-lightgrey;

    &__title {
        margin-bottom: 24px;
        text-align: center;
    }

    &__line {
        margin-bottom: 42px;
        display: flex;
        justify-content: center;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &-purchase {
            width: 97px;
            margin-bottom: 28px;
        }

        &-switch {
            width: 72px;
            margin-bottom: 26px;
        }

        &-refinance {
            width: 84px;
            margin-bottom: 25px;
        }

        &-renewal {
            width: 96px;
            margin-bottom: 30px;
        }

        &-debt {
            width: 86px;
            margin-bottom: 25px;
        }

        &-name {
            margin-bottom: 8px;
            font-weight: 300;
            font-size: 24px;
        }

        &-link {
            
            a {
                display: block;
                font-size: 14px;
                color: $color-blue;

                &:hover {
                    color: $color-main;
                }
            }
        }
    }
}

@media all and (max-width: 991px) {
    .services {

        &__box {
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                width: 50%;

                &:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 30px;
                }
                
            }
        }
    }
}

@media all and (max-width: 577px) {
    .services {

        &__box {

            &-item {
                width: 100%;
            }
        }
    }
}