.b-blog {
    padding: 64px 0;

    &__title {
        font-size: 48px;
        letter-spacing: -0.02em;
        font-weight: 400;

        &-wrap {
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
            
        }
    }

    &__line {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }

    .pagination__box {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .paginationjs-pages {

        ul {
            display: flex;
        }
    }

    .pagination .paginationjs-page {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        color: #B0B0B0;;
        background: #F2F4F5;
        border: 1px solid #C4C8CC;

        &.active {
            color: $color-blue;
            border: 1px solid #157BC0;
        }

        &:hover {
            color: $color-blue;
            border: 1px solid #157BC0;
        }
    }

    .pagination .paginationjs-prev a, 
    .pagination .paginationjs-next a {
        width: 90px;
        height: 40px;
        position: relative;
        color: transparent;
        background: #157BC0;
        border: 1px solid #157BC0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paginationjs-ellipsis {
        width: 40px;
        margin-right: 8px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F4F5;
        border: 1px solid #C4C8CC;

        a {
            letter-spacing: 3px;
            color: #B0B0B0;
        }
    }

    .pagination .paginationjs-prev a {
        margin-right: 8px;

        &:before {
            content: 'Prev';
            display: block;
            font-size: 17px;
            color: #fff;
        }
    }

    .pagination .paginationjs-next a {

        &:before {
            content: 'Next';
            display: block;
            font-size: 17px;
            color: #fff;
            
        }
    }

    .pagination .paginationjs-next:after,
    .pagination .paginationjs-prev:after {
        display: none;
    }
}

@media all and (max-width: 767px) {
    .videos {

        .paginationjs-pages {

            ul {
                flex-wrap: wrap;
            }
        }

        .pagination .paginationjs-page {
            margin-bottom: 10px;
        }
    }

}