.form {

    &__title {
        margin-bottom: 42px;
        font-size: 24px;
        color: #fff;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        

        &-wrap {
            width: 48%;

            label {
                margin-bottom: 6px;
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
            }
    
            input {
                width: 100%;
                padding: 14px;
                font-size: 16px;
                color: #fff;
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 2px;
            }

            select {
                padding: 14px;
                width: 100%;
                font-size: 16px;
                color: #fff;
                background-color: rgba(255, 255, 255, 0.1);
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 2px;
            }
        }
    }

    &__button {

        input {
            width: 100%;
            font-size: 16px;
            border: none;
            padding: 15px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #fff;
            background: linear-gradient(270deg, #42ABE0 0%, #157BC0 100%);
            border-radius: 4px;
        }
    }
}