// Common

@import 'common/reset';
@import 'common/variables';
@import 'common/main';

// Elements
@import 'elements/form';

// Parts
@import 'parts/header';
@import 'parts/hero';
@import 'parts/about';
@import 'parts/video';
@import 'parts/rates';
@import 'parts/services';
@import 'parts/mort';
@import 'parts/test';
@import 'parts/quest';
@import 'parts/footer';

// Articles
@import 'parts/second/articles';